extends layout

block content
  h1= title

  - let elephantid = toShow._id
  - let elephantName = toShow.Name
  - let elephantCompany = toShow.Company
  - let elephantPrice = toShow.Price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{elephantid}
  - let actionid = "/resource/elephants/" + elephantid
  form(id='elephantForm', action= actionid, method="GET")
    div.form-group
        label.elephantAttr(for='Name') elephant Name
        input#elephantname(type='text', name='Name', value= Name )
    div.form-group
        label.elephantAttr(for='Cost') elephant Cost
        input#Cost(type='text', name='Cost', value= Cost )
    div.form-group
        label.elephantAttr(for='Weight') elephant Weight
        input#Weight(type='number', name='Weight', value= Weight )
    input(type="submit")

  script.
    document.forms['elephantForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'GET',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        //resp = "sample";
        console.log("sample")
        alert("Update failed " + error )
      });
    });