extends layout

block content
  h1= title

  form(id='elephantForm', action="/resource/elephant", method="POST")
    div.form-group
        label.elephantLabel(for='elephantname') elephant Name
        input#elephantname(type='text', name='Name')
    div.form-group
        label.elephantLabel(for='cost') elephant Cost
        input#cost(type='number', name='cost')
    div.form-group
        label.elephantLabel(for='weight') elephant Weight
        input#weight(type='number', name='Weight')
    input.button(type="submit")

  script.
    document.forms['elephantForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        document.getElementById("errors").style.display="block"
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        if(body.name){
          document.getElementById("errors").innerHTML=`${body.name}  \n ${body.message}\n`;
          alert("Save Failed")
        }else{
           alert("Save succeded")
        }
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        //- document.getElementById("errors").style.display="block"
        //- document.getElementById("errors").innerHTML="hello";
        alert("Save failed " + error)
      });